@model List<amazon.Models.ServicioRealizado>

@{
    ViewData["Title"] = "Historial de Servicios Realizados";
}

<div class="container">
    <h2 class="mb-4">Historial de Servicios Realizados</h2>

    <div class="table-responsive">
       <h1>HOLAAAA</h1>
    </div>
</div>
