<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Marland</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/amazon.styles.css" asp-append-version="true" />
    <!-- DataTables -->
    <link rel="stylesheet" href="~/lib/DataTables/datatables.min.css" />
    <!-- Select2 -->
    <link rel="stylesheet" href="~/lib/select2/select2.min.css" />
    <!-- Font awesome -->
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />
    <!-- SweetAlert -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <style>
        .navbar-nav {
            display: flex;
            justify-content: center; /* Centrar las opciones */
            gap: 1rem; /* Espacio entre elementos */
        }

            .navbar-nav .nav-link {
                color: #ffffff; /* Color del texto (blanco) */
                font-weight: bold; /* Fuente en negrita */
                padding: 1rem; /* Espaciado interno */
                text-decoration: none; /* Quitar subrayado */
                transition: all 0.3s ease; /* Transición suave */
                font-size: 1.1rem; /* Tamaño de fuente */
            }

                .navbar-nav .nav-link:hover {
                    background-color: rgba(255, 255, 255, 0.2); /* Color de fondo al pasar el mouse */
                    color: #ffffff; /* Color del texto al pasar el mouse (blanco) */
                    border-radius: 0.5rem; /* Borde redondeado */
                }

                .navbar-nav .nav-link.active {
                    background-color: #ffffff; /* Color de fondo activo (blanco) */
                    color: #000000; /* Color del texto activo (negro) */
                }

        .navbar-collapse {
            justify-content: center; /* Centrar el contenido del navbar */
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MARLAND</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto" >
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                    </li>

                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (User.IsInRole("1"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Producto" asp-action="Index">Productos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="ServicioRealizado" asp-action="Index">Servicios realizados</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Servicio" asp-action="Index">Servicios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="User" asp-action="Index">Usuarios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Cliente" asp-action="Index">Clientes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Vehiculos" asp-action="Index">Vehículos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Facturacion" asp-action="Index">Facturacion</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Facturacion" asp-action="Index">Facturacion</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Reportes" asp-action="Index">Reportes</a>
                            </li>
                                

                        }
                        else if (User.IsInRole("2"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Producto" asp-action="Index">Productos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="ServicioRealizado" asp-action="Index">Servicios realizados</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Servicio" asp-action="Index">Servicios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Cliente" asp-action="Index">Clientes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Vehiculos" asp-action="Index">Vehículos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Facturacion" asp-action="Index">Facturacion</a>
                            </li>
                        }
                        else if (User.IsInRole("3"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Producto" asp-action="Index">Productos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="ServicioRealizado" asp-action="Historial">Historial de Servicios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Vehiculos" asp-action="Index">Vehículos</a>
                            </li>
                        }

                        <li class="nav-item text-end">
                            <a class="nav-link" asp-area="" asp-controller="Auth" asp-action="Logout">Salir</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Auth" asp-action="Login">Login</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div>
            @if (User.Identity.IsAuthenticated)
            {
                <p class="card-text">
                    Usuario: @User.Identity.Name
                    @if (User.IsInRole("1"))
                    {
                        <span>Administrador</span>
                    }
                    else if (User.IsInRole("2"))
                    {
                        <span>Empleado</span>
                    }
                    else if (User.IsInRole("3"))
                    {
                        <span>Cliente</span>
                    }
                </p>

            }
            else
            {
                <p class="card-text">No hay usuario autenticado.</p>
            }
        </div>
    </nav>

    <div class="container-fluid bg-light">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer bg-light text-muted">
        <div class="container">
            &copy; 2024 - Marland - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- Select2 -->
    <script src="~/lib/select2/select2.full.min.js"></script>
    <!-- Datatables -->
    <script src="~/lib/DataTables/datatables.min.js"></script>
    <script src="~/lib/DataTables/DataTables-1.13.4/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/lib/DataTables/Responsive-2.4.1/js/responsive.bootstrap5.min.js"></script>
    <script src="~/lib/DataTables/Buttons-2.3.6/js/buttons.bootstrap5.min.js"></script>
    <script src="~/lib/DataTables/Select-1.6.2/js/select.bootstrap5.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
