@{
    ViewData["Title"] = "MARLAND - Taller Automotriz Especializado";
}

<div class="container">
    <h1 class="text-center mb-4">MARLAND - Taller Automotriz Especializado</h1>

    <p class="lead">MARLAND es un taller automotriz especializado en la reparación de vehículos de todas las marcas y modelos. Con más de 20 años de experiencia en el sector, nuestro equipo de mecánicos altamente calificados garantiza un servicio de alta calidad y confiabilidad.</p>

    <div class="row">
        <div class="col-md-6 mb-4">
            <img src="~/images/1.jpg" alt="MARLAND - Taller Automotriz" class="img-fluid">
        </div>
        <div class="col-md-6 mb-4">
            <img src="~/images/2.jpg" alt="MARLAND - Taller Automotriz" class="img-fluid">
        </div>
        <div class="col-md-6 mb-4">
            <img src="~/images/3.jpg" alt="MARLAND - Taller Automotriz" class="img-fluid">
        </div>
        <div class="col-md-6 mb-4">
            <img src="~/images/4.jpg" alt="MARLAND - Taller Automotriz" class="img-fluid">
        </div>
    </div>

    @if (TempData["UserIdMessage"] != null)
    {
        <div class="alert alert-info mt-4">
            @TempData["UserIdMessage"]
        </div>
    }
</div>


